
body {
    background-color: #155d0b;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .imgLogo {
    width: 35rem;
  }
  
  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }

  .hulkImages {
    height: 20rem;
  }

  .hulkProfileImage {
    height: 20rem;
  }

  .hulkInfo{
    display: flex;
    justify-content: center;
    border: dotted;
    margin: 20px;
  }

  .hulkProfile {
    margin: 20px;
    text-align: left;
    /*border: dotted;*/
  }

  .hulkComicImages {
    height: 30rem;
  }